@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #212121;
  font-family: "Fraunces", serif;
}
body .contener-about {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  background: #FEFCF7;
}
body .contener-about .wrapper-about {
  width: 100%;
  max-width: 1280px;
  height: 2891px;
  background: #fefcf7;
}
body .contener-about .wrapper-about .header-about {
  display: flex;
  justify-content: space-between;
  max-width: 1279.9px;
  padding-top: 50px;
  padding-bottom: 49px;
  background-color: transparent;
  margin: 0 auto;
}
body .contener-about .wrapper-about .header-about .header-a-menu-about {
  width: 323px;
  height: 15px;
  background-color: transparent;
  margin-top: 7.5px;
}
body .contener-about .wrapper-about .header-about .header-a-menu-about ul {
  display: flex;
  -moz-column-gap: 33px;
       column-gap: 33px;
  margin-top: -3px;
}
body .contener-about .wrapper-about .header-about .header-a-menu-about ul li {
  list-style: none;
}
body .contener-about .wrapper-about .header-about .header-a-menu-about ul li a {
  text-decoration: none;
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
  margin-left: -20px;
}
body .contener-about .wrapper-about .header-img-menu {
  max-width: 1280px;
  height: 450px;
  background-color: rgb(75, 116, 116);
  background-image: url(../img/about-img-menu.svg);
}
body .contener-about .wrapper-about .header-img-menu .header-img-menu-p1 {
  width: 445px;
  color: #FEFCF7;
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  /* 120% */
  padding-top: 170px;
  margin-left: 85px;
}
body .contener-about .wrapper-about .header-img-menu .header-img-menu-p2 {
  width: 445px;
  color: #FEFCF7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  margin-left: 85px;
}
body .contener-about .wrapper-about .section {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  height: 520px;
  background-color: transparent;
}
body .contener-about .wrapper-about .section .about-section-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  height: 520px;
  background-color: transparent;
  margin-top: 168px;
}
body .contener-about .wrapper-about .section .about-section-menu .about-section-menu-p-menu {
  width: 100%;
  max-width: 540px;
  height: 340px;
  background-color: transparent;
  margin-top: 90px;
}
body .contener-about .wrapper-about .section .about-section-menu .about-section-menu-p-menu .about-section-menu-p1 {
  color: #333D4B;
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  /* 120% */
}
body .contener-about .wrapper-about .section .about-section-menu .about-section-menu-p-menu .about-section-menu-p2 {
  max-width: 540px;
  color: #333D4B;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  opacity: 0.8;
  margin-top: 32px;
}
body .contener-about .wrapper-about .section-button {
  max-width: 1280px;
  height: 1021px;
  background-color: transparent;
  margin-top: 344px;
}
body .contener-about .wrapper-about .section-button .section-button-menu {
  max-width: 1280px;
  height: 474px;
  background: #2C343E;
  border-radius: 10px;
  background-image: url(../img/coofee-picture.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
}
body .contener-about .wrapper-about .section-button .section-button-menu .section-button-min-menu {
  position: relative;
  max-width: 1110px;
  height: 210px;
  background-color: transparent;
  margin: 0 auto;
  top: 100px;
}
body .contener-about .wrapper-about .section-button .section-button-menu .section-button-min-menu .section-button-min-menu-p {
  max-width: 540px;
  height: 210px;
  background-color: transparent;
}
body .contener-about .wrapper-about .section-button .section-button-menu .section-button-min-menu .section-button-min-menu-p .section-button-min-menu-p1 {
  color: #FEFCF7;
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  /* 120% */
}
body .contener-about .wrapper-about .section-button .section-button-menu .section-button-min-menu .section-button-min-menu-p .section-button-min-menu-p2 {
  max-width: 540px;
  color: #FEFCF7;
  font-family: Fraunces 9pt;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 120% */
  opacity: 0.8;
  margin-top: 32px;
}
body .contener-about .wrapper-about .section-button .countries-form {
  max-width: 1045px;
  height: 366px;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 168px;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-form-p1 {
  max-width: 255px;
  color: #83888F;
  font-family: Fraunces 9pt;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  /* 133.333% */
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1045px;
  height: 262px;
  background-color: transparent;
  margin-top: 72px;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form1 {
  max-width: 285px;
  height: 261.93px;
  background-color: transparent;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form1 .countries-min-form1-p1 {
  width: 272px;
  color: #333D4B;
  font-family: Fraunces 9pt;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  margin-top: 45px;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form1 .countries-min-form1-p2 {
  width: 285px;
  color: #333D4B;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form2 {
  max-width: 285px;
  height: 261.93px;
  background-color: transparent;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form2 .countries-min-form1-p3 {
  width: 272px;
  color: #333D4B;
  font-family: Fraunces 9pt;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  margin-top: 45px;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form2 .countries-min-form1-p4 {
  width: 285px;
  color: #333D4B;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form3 {
  max-width: 285px;
  height: 261.93px;
  background-color: transparent;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form3 .countries-min-form1-p5 {
  width: 272px;
  color: #333D4B;
  font-family: Fraunces 9pt;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  margin-top: 45px;
}
body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form3 .countries-min-form1-p6 {
  width: 285px;
  color: #333D4B;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}
body .contener-about .wrapper-about footer {
  width: 100%;
  max-width: 1280px;
  height: 208px;
  margin-top: 200px;
  display: flex;
  align-items: center;
}
body .contener-about .wrapper-about footer nav {
  width: 100%;
  max-width: 1280px;
  height: 120px;
  padding: 47px 85px 39px 85px;
  background: #2C343E;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .contener-about .wrapper-about footer nav .navigation-footer {
  margin-left: -120px;
}
body .contener-about .wrapper-about footer nav .navigation-footer ul {
  display: flex;
}
body .contener-about .wrapper-about footer nav .navigation-footer ul li {
  display: flex;
  margin-right: 33px;
}
body .contener-about .wrapper-about footer nav .navigation-footer ul li a {
  color: #83888F;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  font-family: "Barlow", sans-serif;
}
body .contener-about .wrapper-about footer nav .navigation-footer ul li a:hover {
  transition: 0.1s;
  color: #FEFCF7;
}
body .contener-about .wrapper-about footer nav .navigation-footer ul li:nth-child(2) {
  margin-right: 32px;
}
body .contener-about .wrapper-about footer nav .navigation-footer ul li:nth-child(3) {
  margin-right: 0;
}
body .contener-about .wrapper-about footer nav .icons .icon-style {
  color: #FEFCF7;
  font-size: 19.5px;
  margin-left: 19px;
}
body .contener-about .wrapper-about footer nav .icons .icon-style:hover {
  transition: 0.5s;
  color: #FDD6BA;
}

@media (max-width: 765px) {
  body {
    display: flex;
    justify-content: center;
    background-color: #212121;
    font-family: "Fraunces", serif;
  }
  body .contener-about {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    background: #FEFCF7;
  }
  body .contener-about .wrapper-about {
    width: 100%;
    max-width: 1280px;
    height: 2891px;
    background: #fefcf7;
  }
  body .contener-about .wrapper-about .header-about {
    display: flex;
    justify-content: space-between;
    max-width: 1279.9px;
    padding-top: 50px;
    padding-bottom: 49px;
    background-color: transparent;
    margin: 0 auto;
  }
  body .contener-about .wrapper-about .header-about .header-a-menu-about {
    width: 323px;
    height: 15px;
    background-color: transparent;
    margin-top: 7.5px;
  }
  body .contener-about .wrapper-about .header-about .header-a-menu-about ul {
    display: flex;
    -moz-column-gap: 33px;
         column-gap: 33px;
    margin-top: -3px;
  }
  body .contener-about .wrapper-about .header-about .header-a-menu-about ul li {
    list-style: none;
  }
  body .contener-about .wrapper-about .header-about .header-a-menu-about ul li a {
    text-decoration: none;
    color: #83888f;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    margin-left: -20px;
  }
  body .contener-about .wrapper-about .header-img-menu {
    max-width: 1280px;
    background-color: transparent;
    background-image: url(../img/about-img-menu-tablit.jpg);
    background-repeat: no-repeat;
  }
  body .contener-about .wrapper-about .header-img-menu .header-img-menu-p1 {
    width: 445px;
    color: #FEFCF7;
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    /* 120% */
    padding-top: 170px;
    margin-left: 85px;
  }
  body .contener-about .wrapper-about .header-img-menu .header-img-menu-p2 {
    width: 445px;
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-left: 85px;
  }
  body .contener-about .wrapper-about .section {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    height: 520px;
    background-color: transparent;
  }
  body .contener-about .wrapper-about .section .about-section-menu {
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 1110px;
    height: 520px;
    background-color: transparent;
    margin-top: 168px;
    background-image: url(../img/about-section-men-img-tablit.jpg);
    background-repeat: no-repeat;
  }
  body .contener-about .wrapper-about .section .about-section-menu .about-section-menu-img {
    display: none;
  }
  body .contener-about .wrapper-about .section .about-section-menu .about-section-menu-p-menu {
    width: 100%;
    max-width: 540px;
    height: 340px;
    background-color: transparent;
    margin-top: 90px;
    margin-left: 270px;
  }
  body .contener-about .wrapper-about .section .about-section-menu .about-section-menu-p-menu .about-section-menu-p1 {
    color: #333D4B;
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 150% */
    /* 120% */
  }
  body .contener-about .wrapper-about .section .about-section-menu .about-section-menu-p-menu .about-section-menu-p2 {
    max-width: 339px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    opacity: 0.8;
    margin-top: 32px;
  }
  body .contener-about .wrapper-about .section-button {
    max-width: 1280px;
    height: 1021px;
    background-color: transparent;
    margin-top: 344px;
  }
  body .contener-about .wrapper-about .section-button .section-button-menu {
    max-width: 688px;
    height: 628px;
    background: #2C343E;
    border-radius: 10px;
    background-image: url(../img/coofee-picture-tablit.jpg);
    background-repeat: no-repeat;
    background-position: top center;
  }
  body .contener-about .wrapper-about .section-button .section-button-menu .section-button-min-menu {
    position: relative;
    max-width: 1110px;
    height: 210px;
    background-color: transparent;
    margin: 0 auto;
    top: 100px;
  }
  body .contener-about .wrapper-about .section-button .section-button-menu .section-button-min-menu .section-button-min-menu-p {
    position: relative;
    max-width: 540px;
    height: 210px;
    background-color: transparent;
    top: 250px;
    margin: 0 auto;
  }
  body .contener-about .wrapper-about .section-button .section-button-menu .section-button-min-menu .section-button-min-menu-p .section-button-min-menu-p1 {
    color: #FEFCF7;
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    /* 120% */
  }
  body .contener-about .wrapper-about .section-button .section-button-menu .section-button-min-menu .section-button-min-menu-p .section-button-min-menu-p2 {
    max-width: 540px;
    color: #FEFCF7;
    font-family: Fraunces 9pt;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 120% */
    opacity: 0.8;
    margin-top: 32px;
  }
  body .contener-about .wrapper-about .section-button .countries-form {
    max-width: 1045px;
    height: 366px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 168px;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-form-p1 {
    max-width: 255px;
    color: #83888F;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    /* 133.333% */
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms {
    display: flex;
    justify-content: space-between;
    max-width: 1045px;
    height: 262px;
    background-color: blue;
    margin-top: 72px;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form1 {
    max-width: 285px;
    height: 261.93px;
    background-color: transparent;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form1 .countries-min-form1-p1 {
    width: 272px;
    color: #333D4B;
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin-top: 45px;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form1 .countries-min-form1-p2 {
    width: 285px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form2 {
    max-width: 285px;
    height: 261.93px;
    background-color: transparent;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form2 .countries-min-form1-p3 {
    width: 272px;
    color: #333D4B;
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin-top: 45px;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form2 .countries-min-form1-p4 {
    width: 285px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form3 {
    max-width: 285px;
    height: 261.93px;
    background-color: transparent;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form3 .countries-min-form1-p5 {
    width: 272px;
    color: #333D4B;
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin-top: 45px;
  }
  body .contener-about .wrapper-about .section-button .countries-form .countries-min-forms .countries-min-form3 .countries-min-form1-p6 {
    width: 285px;
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
  }
  body .contener-about .wrapper-about footer {
    width: 100%;
    max-width: 1280px;
    height: 208px;
    margin-top: 400px;
    display: flex;
    align-items: center;
  }
  body .contener-about .wrapper-about footer nav {
    width: 100%;
    max-width: 1280px;
    height: 120px;
    padding: 47px 85px 39px 85px;
    background: #2C343E;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body .contener-about .wrapper-about footer nav .navigation-footer {
    margin-left: -120px;
  }
  body .contener-about .wrapper-about footer nav .navigation-footer ul {
    display: flex;
  }
  body .contener-about .wrapper-about footer nav .navigation-footer ul li {
    display: flex;
    margin-right: 33px;
  }
  body .contener-about .wrapper-about footer nav .navigation-footer ul li a {
    color: #83888F;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.92px;
    font-family: "Barlow", sans-serif;
  }
  body .contener-about .wrapper-about footer nav .navigation-footer ul li a:hover {
    transition: 0.1s;
    color: #FEFCF7;
  }
  body .contener-about .wrapper-about footer nav .navigation-footer ul li:nth-child(2) {
    margin-right: 32px;
  }
  body .contener-about .wrapper-about footer nav .navigation-footer ul li:nth-child(3) {
    margin-right: 0;
  }
  body .contener-about .wrapper-about footer nav .icons .icon-style {
    color: #FEFCF7;
    font-size: 19.5px;
    margin-left: 19px;
  }
  body .contener-about .wrapper-about footer nav .icons .icon-style:hover {
    transition: 0.5s;
    color: #FDD6BA;
  }
}/*# sourceMappingURL=about.css.map */