*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: #212121;

  .wrapper-about {
    width: 100%;
    max-width: 1280px;
    height: 3595px;
    background: #fefcf7;


    .header-about {
      display: flex;
      justify-content: space-between;
      max-width: 1279.9px;
      padding-top: 50px;
      padding-bottom: 49px;
      background-color: transparent;
      margin: 0 auto;

      .header-a-menu-about {
        width: 323px;
        height: 15px;
        background-color: transparent;
        margin-top: 7.5px;

        ul {
          display: flex;
          column-gap: 33px;
          margin-top: -3px;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: #83888f;
              font-family: Barlow;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 15px;
              /* 125% */
              letter-spacing: 0.923px;
              text-transform: uppercase;
              margin-left: -20px;
            }
          }
        }
      }
    }

    .header-img-menu {
      max-width: 1280px;
      height: 450px;
      background-color: rgb(75, 116, 116);
      background-image: url(../img/about-img-menu.svg);

      .header-img-menu-p {
        width: 445px;
        color: #FEFCF7;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
        padding-top: 209px;
        margin-left: 85px;

      }
    }


    .about-writing-p1 {

      color: #fefcf7;
      font-family: Fraunces 9pt;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: 48px;
      /* 120% */
      margin-top: -310px;
      margin-left: 85px;
    }

    .section-menu {
      max-width: 1110px;
      height: 520px;
      background-color: #887c7c ;
      // margin-top: 268px;
      // margin: 0 auto;
    }
  }
}